<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hinds_Justin_Sticks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05643FC81D590E1E0014DD58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05643FDF1D590E1E0014DD58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05643FEA1D590E1E0014DD58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
