<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBi66GgDB-MUwpD3QmC5vaF4zqi2pTYHac</string>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>384837219062-g1jvhm8m4hs57ei5nb4po2omfua830po.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384837219062-g1jvhm8m4hs57ei5nb4po2omfua830po</string>
	<key>GCM_SENDER_ID</key>
	<string>384837219062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arcane.HindsArt</string>
	<key>PROJECT_ID</key>
	<string>hindsart-2a003</string>
	<key>STORAGE_BUCKET</key>
	<string>hindsart-2a003.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:384837219062:ios:06a3902510b5c9e4</string>
	<key>DATABASE_URL</key>
	<string>https://hindsart-2a003.firebaseio.com</string>
</dict>
</plist>
